html {
  background: url(./images/forest-background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

html, body {
  padding: 0;
}

body {
  font-family: "Inconsolata", monospace;
  color: #EDF5E1;
}

a {
  color: #05386B;
}

a:hover {
  color: #379683;
}

.page {
  margin-bottom: 0;
  margin-right: 30%;
  margin-left: 30%;
  top: 25%;
  position: absolute;
  color: #EDF5E1;
}

.projects-content {
  display: none;
}

.animations-content {
  display: none;
}

.contact-content {
  display: none;
}

.hash {
  color: #EDF5E1;
}

.hash:hover {
  color: #8ee4aF;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.wrapper>div {
  border-radius: 5px;
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: fixed;
  top: 5%;
  left: 5%;
  margin: 0 auto;
}

.header {
  grid-column: 3 / 5;
  grid-row: 1;
  text-align: center;
  width: 100%;
}

.header>nav>ul {
  list-style: none;
  width: 100%;
}

.header>nav>ul>li {
  display: inline;
  margin: 0 auto;
  padding: 0 1em;
}

.header>nav>ul>li>a {
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #EDF5E1;
}

.page-content {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
}

.page {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

svg {
  width: 300px;
  align-self: center;
  justify-self: center;
  padding: 0 1em;
  background-color: #05386B;
  border-radius: 2%;
  box-shadow: 2px 2px 10px black;
}

.logo {
  opacity: 0;
}

svg:hover .logo {
  animation-duration: 1.2s;
  animation-name: animateLogo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  mix-blend-mode: overlay;
}

@keyframes animateLogo {
  from {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to {
    transform: translateX(50px) translateY(-30px);
    opacity: 1;
  }
}

.st0 {
  fill: #0990E2;
}

.st1 {
  fill: #E2E2E2;
}

.st2 {
  fill: #055485;
}

.st3 {
  fill: #065E94;
}

.st4 {
  fill: #E8E8E8;
}

.st5 {
  fill: #999999;
}


.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}

.bird-container-two {
	position: absolute;
	top: 30%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-two;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}

.bird-container--one {
  animation-duration: 10s;
	animation-delay: 0;
}

.bird-container--two {
  animation-duration: 11s;
	animation-delay: 0s;
}

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird--one {
  animation-duration: 0.5s;
	animation-delay: -0.5s;	
}

.bird--two {
  animation-duration: 0.5s;
	animation-delay: -0.65s;
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.2) translateX(-10vw);
	}
	
	10% {
		transform: translateY(-5vh) translateX(10vw) scale(0.2);
  }
  
	20% {
    transform: translateY(-15vh) translateX(30vw) scale(0.2);
	}

  30% {
		transform: translateY(-10vh) translateX(50vw) scale(0.2);
	}
	
	40% {
		transform: translateY(0vh) translateX(70vw) scale(0.2);
	}
	
	50% {
		transform: translateY(10vh) translateX(90vw) scale(0.2);
	}
	
	60% {
		transform: translateY(5vh) translateX(110vw) scale(0.2);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.0);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.2);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.2);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.2);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.2);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.2);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.2);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.2);
  }

	100% {
		transform: translateY(0vh) translateX(110vw) scale(0);
	}
	
}

.horizontal-stack > li {
  display: inline;
}

.list-item {
  background-color:#05386B;
  width: 50%;
}